body {
  font-family: sans-serif;
  background: #1a0033;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #8800cc;
  padding: 1rem;
  box-shadow: 0 0 10px #fff;
}

.produk, #keranjang, #checkout {
  background: rgba(255,255,255,0.1);
  margin: 1rem auto;
  padding: 1rem;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ff99ff;
}

input {
  width: 90%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background: #33cc99;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
